* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(240, 240, 240);
}

.link-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.link-name:hover {
  cursor: pointer;
  color: rgb(104, 100, 100);
}

.link-nav {
  text-decoration: none;
}
